.termsContainer {
  margin-top: 30px;
}

.termsCard {
  background-color: #f8f9fa;
  border: none;
  border-radius: 8px;
  padding: 20px;
}

.cardTitle {
  font-size: 2rem;
  color: #6f42c1; 
  font-weight: bold;
}

.cardText {
  color: #495057;
  font-size: 1.1rem;
  line-height: 1.6;
}

h5 {
  font-size: 1.2rem;
  color: #6f42c1;
  margin-top: 1rem;
}

.returnButton {
  background-color: #6f42c1;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.returnButton:hover {
  background-color: #563d7c;
}
